.gridtitulo{
    text-align: center;
    color: rgb(103, 17, 184);
    font-size: 30px;
}
.meme{
    width: 250px;
    height: 250px;
}
.todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
